*
{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body
{
background: #92bde7;
}

.outercontainer
{
width: 600px;
height:600px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
display: grid;
grid-template-columns: 1fr 1fr;
background-color:auto;
border-radius: 1.5rem;
}
.innercontainer
{

background-color: #72A0C1;
text-align: center;
margin:5%;
border-radius: 1.5rem 1.5rem  ;
box-shadow: white inset 3px 3px 30px ;
}
h1
{
color: white;
text-transform: capitalize;
font-variant: small-caps;
text-shadow: 1px 1px 3px black;
}
p{
font-size:2rem;
color: white;
margin-top: 59px;;
font-weight: bold;
}
#min60,#min15,#min30,#start,#reset,#pause,.bttn
{

width:67px;
height: 33px;
font-size:20px;
background:#92bde7;
opacity: .7;
box-shadow: inset 3px 6px 19px white;
border-radius: .4rem;
border: 0;
color: purple;
font-family:times cursive sans-serif;
margin-bottom: 1.5rem;
font-weight: bold;
}
#min60:focus,#min15:focus,#min30:focus,#start:focus,#reset:focus,#pause:focus,.setT:focus,.bttn:focus{
outline: 0;
}
#hourcontainer,#minutecontainer
{
display:inline-flex;
margin: 30px;
display:auto;
}
#hr,#mn
{
  width:60px;
  height: 33px;
  font-size:20px;
  color: white;
line-height: 1.75em;

}
.setT{
width: 29px;
height: 33px;
font-size:29px;
background: #A3C1AD;
color:purple;
border: 0;
border-radius: .4rem;
background:#92bde7;
opacity: .7;
box-shadow: inset 3px 6px 19px white;
border-radius: .4rem;
border: 0;
}
@media screen and (max-width:600px) {
.outercontainer
{
display:block;
height: auto;

}
.innercontainer
{
width:300px;
margin:auto;
margin-top: 30px;
}

}
#start,#reset,#pause
{
margin-top:3.5em;

}
#main{
margin-top:143px;

}
